* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #999999;
}

.wrapper {
  max-width: 1920px;
  width: 100%;
}

.container {
  width: 1100px;
  max-width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.intro__wrapper {
  background-image: url("../img/intro.jpg");
  background-repeat: no-repeat;
}

.intro__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

.intro__logo {
  cursor: pointer;
  padding: 5px;
}

.intro__logo:hover {
  background-color: rgba(211, 211, 211, 0.1);
}

.intro__burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  height: 50px;
  width: 50px;
  background-color: #f7654a;
  -webkit-transition: color 0.3s linear, background-color 0.3s linear;
  transition: color 0.3s linear, background-color 0.3s linear;
}

.intro__burger .top,
.intro__burger .middle,
.intro__burger .bottom {
  width: 21px;
  height: 3px;
  background-color: white;
  margin-bottom: 4px;
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}

.intro__burger:hover {
  background-color: white;
}

.intro__burger:hover .top,
.intro__burger:hover .middle,
.intro__burger:hover .bottom {
  background-color: #f7654a;
}

.intro__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: white;
  margin-top: 100px;
}

.intro__title-wrapper {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.intro__main-title {
  font-size: calc(20px + 44 * ((100vw - 320px) / 1600));
  font-weight: 500;
  line-height: 94.85px;
}

.intro__sub-title {
  font-size: calc(15px + 3 * ((100vw - 320px) / 1600));
  line-height: 26.68px;
  margin-top: 30px;
}

.intro__expirience {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #f7f7f7;
  margin-top: 100px;
  padding: 50px 150px;
}

.intro__expirience-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

.intro__expirience-number {
  color: #f7654a;
  font-size: calc(50px + 22 * ((100vw - 320px) / 1600));
  font-weight: 500;
  line-height: 100px;
}

.intro__expirience-big-text {
  color: black;
  font-size: calc(20px + 16 * ((100vw - 320px) / 1600));
  font-weight: 500;
  line-height: 53px;
}

.intro__expirience-small-text {
  font-size: calc(15px + 3 * ((100vw - 320px) / 1600));
  font-weight: 500;
  line-height: 27px;
}
