* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #999999;
}

.wrapper {
  max-width: 1920px;
  width: 100%;
}

.container {
  width: 1100px;
  max-width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.intro__wrapper {
  background-image: url("../img/intro.jpg");
  background-repeat: no-repeat;
}

.intro__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

.intro__logo {
  cursor: pointer;
  padding: 5px;
}

.intro__logo:hover {
  background-color: lightgray;
}

.intro__burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  height: 50px;
  width: 50px;
  background-color: #f7654a;
  -webkit-transition: color 0.3s linear, background-color 0.3s linear;
  transition: color 0.3s linear, background-color 0.3s linear;
}

.intro__burger .top,
.intro__burger .middle,
.intro__burger .bottom {
  width: 21px;
  height: 3px;
  background-color: white;
  margin-bottom: 4px;
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}

.intro__burger:hover {
  background-color: white;
}

.intro__burger:hover .top,
.intro__burger:hover .middle,
.intro__burger:hover .bottom {
  background-color: #f7654a;
}
