* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #999999;
}

.wrapper {
  max-width: 1920px;
  width: 100%;
}

.container {
  width: 1100px;
  max-width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.intro__wrapper {
  background-image: url("../img/intro.jpg");
  background-repeat: no-repeat;
}

.intro__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

.intro__logo {
  cursor: pointer;
  padding: 5px;
}

.intro__logo:hover {
  background-color: rgba(211, 211, 211, 0.1);
}

.intro__burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  height: 50px;
  width: 50px;
  background-color: #f7654a;
  -webkit-transition: color 0.3s linear, background-color 0.3s linear;
  transition: color 0.3s linear, background-color 0.3s linear;
}

.intro__burger .top,
.intro__burger .middle,
.intro__burger .bottom {
  width: 21px;
  height: 3px;
  background-color: white;
  margin-bottom: 4px;
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}

.intro__burger:hover {
  background-color: white;
}

.intro__burger:hover .top,
.intro__burger:hover .middle,
.intro__burger:hover .bottom {
  background-color: #f7654a;
}

.intro__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: white;
  margin-top: 100px;
}

.intro__title-wrapper {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.intro__main-title {
  font-size: calc(20px + 44 * ((100vw - 320px) / 1600));
  font-weight: 500;
  line-height: 94.85px;
}

.intro__sub-title {
  font-size: calc(15px + 3 * ((100vw - 320px) / 1600));
  line-height: 26.68px;
  margin-top: 30px;
}

.intro__expirience {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #f7f7f7;
  margin-top: 100px;
  padding: 50px 150px;
}

.intro__expirience-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  padding: 10px 35px;
  cursor: pointer;
}

.intro__expirience-section:hover {
  background-color: #f7654a;
}

.intro__expirience-section:hover .intro__expirience-number {
  color: white;
}

.intro__expirience-section:hover .intro__expirience-small-text {
  color: white;
}

.intro__expirience-number {
  color: #f7654a;
  font-size: calc(50px + 22 * ((100vw - 320px) / 1600));
  font-weight: 500;
  line-height: 100px;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.intro__expirience-big-text {
  color: black;
  font-size: calc(20px + 16 * ((100vw - 320px) / 1600));
  font-weight: 500;
  line-height: 53px;
}

.intro__expirience-small-text {
  font-size: calc(15px + 3 * ((100vw - 320px) / 1600));
  font-weight: 500;
  line-height: 27px;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
  text-align: center;
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: calc(20px + 16 * ((100vw - 320px) / 1600));
  font-weight: 500;
  color: #404149;
  text-align: center;
  text-transform: uppercase;
  line-height: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.projects__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
}

.projects__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects__content-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.projects__content-item:nth-child(2) {
  margin-left: 30px;
  margin-right: 30px;
}

.projects__content-item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.projects__content-sub-title {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: calc(20px + 4 * ((100vw - 320px) / 1600));
  color: #404149;
  margin-top: 50px;
  margin-bottom: 25px;
  position: relative;
}

.projects__content-sub-title::before {
  position: absolute;
  content: "";
  left: 0;
  top: -100%;
  height: 6px;
  width: 15%;
  background-color: #f7654a;
}

.projects__content-text {
  font-size: calc(15px + 1 * ((100vw - 320px) / 1600));
  line-height: 20px;
}

.request {
  background-color: #f7654a;
  color: white;
}

.request__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}

.request__text {
  font-family: "Oswald", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 700;
  text-transform: uppercase;
}

.request__big-text {
  font-size: calc(24px + 24 * ((100vw - 320px) / 1600));
  margin-bottom: 25px;
}

.request__small-text {
  font-size: calc(20px + 4 * ((100vw - 320px) / 1600));
}

.request__btn {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: calc(13px + 1 * ((100vw - 320px) / 1600));
  background-color: white;
  padding: 10px;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  cursor: pointer;
  outline: none;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.request__btn::before {
  content: url("../img/letter-icon.svg");
  margin-right: 10px;
}

.request__btn a {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.request__btn:hover {
  background-color: deeppink;
}

.request__btn:hover a {
  color: white;
}

.about__wrapper {
  margin-bottom: 100px;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.about__content-item {
  padding: 44px 80px;
  background-color: #f7f7f7;
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

.about__content-item:nth-child(n + 4) {
  margin-top: 20px;
}

.about__content-item:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.about__content-title {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: calc(15pxpx + 6px * ((100vw - 320px) / 1600));
  color: #000;
  line-height: 31px;
  text-transform: uppercase;
}

.separator {
  background-image: url("../img/towers.png");
  height: 400px;
}

.answers__content-title {
  font-family: "Oswald", sans-serif;
  font-size: calc(20px + 4 * ((100vw - 320px) / 1600));
  color: #f7654a;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 35px;
  position: relative;
  display: inline-block;
  padding: 5px;
  -webkit-transition: background-color 0.3s linear, color 0.3s linear;
  transition: background-color 0.3s linear, color 0.3s linear;
}

.answers__content-title::before {
  position: absolute;
  left: -25px;
  top: -3px;
  content: url("../img/triangle-left-icon.svg");
}

.answers__content-title:hover {
  background-color: #f7654a;
  color: black;
}

.answers__content-text {
  display: none;
}
